html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #222;
  background: rgb(176, 228, 219);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  padding: 20px;
}
